POSTGRES_DB=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''

# JWT Config
JWT__KEY=''
JWT__ISSUER=''
JWT__AUDIENCE=''

# Only for running api outside docker
CONNECTIONSTRINGS__DEFAULT=''

# only for `compose.yaml`
CLOUDFLARED_TUNNEL_TOKEN=''